body {
    font-family:  MONOSPACE ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #F8DDBF;
    padding: 5px 30px;
    line-height: 1.5em;
    width: 70%;
}
.Titulo h1 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 60px;
    padding-bottom: 0;
}

.Titulo h2 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 45px;
    padding-top: 3px;
}

.Titulo h3 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 40px;
}
.ColumnaI {   
    float: left;
    width: 70%;
    font-weight: lighter;
}

.ColumnaD {
    float: left;
    width: 28%;
    margin-right: 20px;
}
  
.cuerpo {
    background-color: #EEC79B;
    font-family: MONOSPACE;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 30px;
    line-height: 1.5em;
    margin-bottom: .5em;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.800);
}

.bloque {
    border-width: 8px;
    border-color:#953E13;
    border-style: solid;
     padding: 20px;
     margin-left: 5px;
     margin-top: 10px;
}

.bloque h3 {
    font-family:  MEDIEVAL ;
}

.bloque a {
    font-family:  MEDIEVAL ;
}

.bloque img {
    max-width:100%;
    height:auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.glosario{
    text-justify: inter-word;
    margin-left: 50px;
    text-align: justify;
    margin-bottom: 65px;
    margin-top: 65px;
    font-family:  MEDIEVAL ;
}

p, dd, dt{
    font-size: 130%;
    max-width: 43rem;
    margin: 0 auto 0.5em;
    text-align: justify;
    white-space: pre-line;
}

dt {
    columns: #252727;
    font-style: italic;
    font-weight: bold;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    background-color: #829C53;
}
html{
    background: url(bosque.jpg);
}
